.#{$prefix}avatar {
	--#{$prefix}avatar-cursor: #{$avatar-cursor-default};
	--#{$prefix}avatar-border-radius: #{$avatar-border-radius};
	--#{$prefix}avatar-transition: #{$avatar-transition};

	@include flex-center;

	> div,
	> img {
		border-radius: var(--#{$prefix}avatar-border-radius);
		cursor: var(--#{$prefix}avatar-cursor);
	}

	&--default {
		@include flex-center;

		animation: gradient-animation 10s ease infinite;
		background: linear-gradient(-45deg, $primary-300, $primary-500, $primary-800);
		background-size: 200% 200%;
	}

	&--cursor-point {
		--#{$prefix}avatar-cursor: #{$avatar-cursor-click};

		transition: var(--#{$prefix}avatar-transition);

		&:hover {
			filter: brightness(70%);
			transform: scale(1.1);
		}
	}

	&--circle {
		--#{$prefix}avatar-border-radius: #{$avatar-border-radius-circle};
	}

	&--square {
		--#{$prefix}avatar-border-radius: #{$avatar-border-radius-square};
	}
}

@each $size, $value in $avatar-sizes {
	.#{$prefix}avatar--#{$size} {
		@include rem('width', $value);
		@include rem('height', $value);
	}
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}
