.#{$prefix}card {
	--#{$prefix}card-bg-color: #{$card-bg-color};
	--#{$prefix}card-shadow: #{$card-shadow};
	--#{$prefix}card-border-color: #{$primary-500};
	--#{$prefix}card-transition: #{$card-transition};

	background-color: var(--#{$prefix}card-bg-color);
	transition: var(--#{$prefix}card-transition);

	&--hover:hover,
	&--shadow-hover:hover {
		cursor: pointer;
	}

	&--hover:hover {
		border-color: var(--#{$prefix}card-border-color) !important;
	}

	&--shadow {
		box-shadow: var(--#{$prefix}card-shadow);
	}

	&--shadow-hover {
		&:hover {
			--#{$prefix}card-bg-color: #{$card-bg-color-hover};
		}
	}
}
