.#{$prefix}input {
	--#{$prefix}input-bg-color: #{$input-bg-color};
	--#{$prefix}input-border-color: #{$input-border-color};
	--#{$prefix}input-primary-color: #{$input-primary-color};
	--#{$prefix}input-svg-fill-color: #{$input-svg-fill-color};

	--#{$prefix}input-border-radius: #{$input-border-radius};
	--#{$prefix}input-font-size: #{$input-font-size};

	align-items: center;
	background-color: var(--#{$prefix}input-bg-color);
	border: 1px solid var(--#{$prefix}input-border-color);
	border-radius: var(--#{$prefix}input-border-radius);
	display: flex;
	transition: border 250ms ease;
	width: 100%;

	> input {
		border: 0;
		border-radius: var(--#{$prefix}input-border-radius);
		font-size: var(--#{$prefix}input-font-size);
		height: var(--#{$prefix}input-height);
		outline: none;
		padding: var(--#{$prefix}input-padding-x) var(--#{$prefix}input-padding-y);
		transition: all 300ms ease;
		width: 100%;

		&:focus {
			--#{$prefix}input-outline-color: #{$input-primary-outline-color};
		}
	}

	&:hover,
	&:focus {
		border: 1px solid var(--#{$prefix}input-primary-color);
	}

	&--error {
		--#{$prefix}input-bg-color: #{$input-error-bg-color};
		--#{$prefix}input-border-color: #{$input-error-border-color};
		--#{$prefix}input-outline-color: #{$input-error-outline-color};

		animation-delay: 0.25s;
		animation-duration: 0.5s;
		animation-name: error-bounce;
	}

	&:focus,
	&--error {
		box-shadow: 0 0 0 1px var(--#{$prefix}input-outline-color);
	}

	&__prefix,
	&__suffix {
		@include flex-center();
	}

	&__prefix {
		margin-right: 5px;
	}

	&__suffix {
		margin-left: 5px;
	}
}

.#{$prefix}__password-icon {
	align-items: center;
	display: flex;

	> svg {
		cursor: pointer;
		fill: var(--#{$prefix}input-svg-fill-color);
		transition: all 200ms ease;

		&:hover {
			--#{$prefix}input-svg-fill-color: #{$input-primary-color};
		}
	}
}

@each $size, $value in $input-sizes {
	.wm-input--size-#{$size} {
		--#{$prefix}input-height: #{$value};

		@if $size == 'lg' {
			--#{$prefix}input-padding-x: 6.5px;
			--#{$prefix}input-padding-y: 12px;
		} @else if $size == 'base' {
			--#{$prefix}input-padding-x: 4px;
			--#{$prefix}input-padding-y: 11px;
		} @else if $size == 'sm' {
			--#{$prefix}input-padding-x: 0;
			--#{$prefix}input-padding-y: 7px;
		}
	}
}

@keyframes error-bounce {
	0% {
		transform: translateX(0);
	}

	30% {
		transform: translateX(4px);
	}

	50% {
		transform: translateX(-4px);
	}

	70% {
		transform: translateX(3px);
	}

	80% {
		transform: translateX(-3px);
	}

	90% {
		transform: translateX(2px);
	}

	95% {
		transform: translateX(-2px);
	}

	100% {
		transform: translateX(0);
	}
}
