.#{$prefix}input {
	--#{$prefix}input-bg-color: #{$input-bg-color};
	--#{$prefix}input-border-color: #{$input-border-color};
	--#{$prefix}input-primary-color: #{$input-primary-color};
	--#{$prefix}input-svg-fill-color: #{$input-svg-fill-color};
	--#{$prefix}input-border-radius: #{$input-border-radius};
	--#{$prefix}input-font-size: #{$input-font-size};
	--#{$prefix}input-transition: #{$transition-base};

	@include flex-center();

	background-color: var(--#{$prefix}input-bg-color);
	border: 1px solid var(--#{$prefix}input-border-color);
	border-radius: var(--#{$prefix}input-border-radius);
	transition: var(--#{$prefix}input-transition);
	width: 100%;

	> input {
		border: 0;
		border-radius: var(--#{$prefix}input-border-radius);
		font-size: var(--#{$prefix}input-font-size);
		height: var(--#{$prefix}input-height);
		outline: none;
		padding: var(--#{$prefix}input-padding-x) var(--#{$prefix}input-padding-y);
		transition: var(--#{$prefix}input-transition);
		width: 100%;

		&::placeholder {
			color: var(--#{$prefix}input-border-color);
			font-size: var(--#{$prefix}input-font-size);
		}
	}

	&:hover:not(&--error),
	&--focus:not(&--error) {
		border-color: var(--#{$prefix}input-primary-color);
	}

	&--focus,
	&--error {
		box-shadow: 0 0 0 1px var(--#{$prefix}input-outline-color);
	}

	&--focus {
		--#{$prefix}input-outline-color: #{$input-primary-outline-color};
	}

	&--error {
		--#{$prefix}input-bg-color: #{$input-error-bg-color};
		--#{$prefix}input-border-color: #{$input-error-border-color};
		--#{$prefix}input-outline-color: #{$input-error-outline-color};

		animation-delay: 0.25s;
		animation-duration: 0.5s;
		animation-name: error-bounce;
	}

	&__prefix,
	&__suffix {
		@include flex-center();
	}

	&__prefix {
		margin-right: 5px;
	}

	&__suffix {
		margin-left: 5px;
	}

	&__password-icon {
		align-items: center;
		background-color: transparent;
		border: 0;
		display: flex;

		> svg {
			cursor: pointer;
			fill: var(--#{$prefix}input-svg-fill-color);
			transition: var(--#{$prefix}input-transition);
		}

		> svg:hover {
			--#{$prefix}input-svg-fill-color: #{$input-primary-color};
		}
	}

	&__message {
		animation-duration: 0.5s;
		animation-name: message-fade-in-out;
		bottom: -20px;
		left: 0;
		position: absolute;
	}
}

@each $size, $value in $input-sizes {
	.#{$prefix}input-#{$size} {
		--#{$prefix}input-height: #{$value};
		--#{$prefix}input-padding-x: 0;

		@if $size == 'lg' {
			--#{$prefix}input-padding-y: 12px;
		} @else if $size == 'base' {
			--#{$prefix}input-padding-y: 11px;
		} @else if $size == 'sm' {
			--#{$prefix}input-padding-y: 7px;
		}
	}
}

@keyframes message-fade-in-out {
	from {
		opacity: 0;
		transform: translateY(-50%);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes error-bounce {
	0% {
		transform: translateX(0);
	}

	30% {
		transform: translateX(4px);
	}

	50% {
		transform: translateX(-4px);
	}

	70% {
		transform: translateX(3px);
	}

	80% {
		transform: translateX(-3px);
	}

	90% {
		transform: translateX(2px);
	}

	95% {
		transform: translateX(-2px);
	}

	100% {
		transform: translateX(0);
	}
}
