.#{$prefix}text {
	color: var(--#{$prefix}text-color);
	font-size: var(--#{$prefix}text-size);
	font-weight: var(--#{$prefix}text-weight);
}

@each $color, $value in $text-themes {
	.#{$prefix}text--color-#{$color} {
		--#{$prefix}text-color: #{$value};
	}
}

@each $size, $value in $text-sizes {
	.#{$prefix}text--size-#{$size} {
		--#{$prefix}text-size: #{$value};
	}
}

@each $weight, $value in $text-weights {
	.#{$prefix}text--weight-#{$weight} {
		--#{$prefix}text-weight: #{$value};
	}
}
