.#{$prefix}textarea__wrapper {
	position: relative;
	width: 100%;
}

.#{$prefix}textarea {
	--#{$prefix}textarea-font-size: #{$textarea-font-size};
	--#{$prefix}textarea-border-color: #{$textarea-border-color};
	--#{$prefix}textarea-font-color: #{$textarea-font-color};
	--#{$prefix}textarea-guide-font-color: #{$textarea-guide-font-color};
	--#{$prefix}textarea-transition: #{$transition-base};
	--#{$prefix}textarea-outline-color: #{$textarea-primary-outline-color};
	border: 1px solid var(--#{$prefix}textarea-border-color);
	border-radius: 4px;
	box-sizing: border-box;
	color: var(--#{$prefix}textarea-font-color);
	font-size: var(--#{$prefix}textarea-font-size);
	padding: 12px;
	transition: var(--#{$prefix}textarea-transition);

	width: 100%;

	&:disabled {
		cursor: map-get($cursor-list, 'not-allowed');
	}

	&:hover:not(&:disabled),
	&:focus:not(&:disabled) {
		--#{$prefix}textarea-border-color: #{$textarea-primary-color};
	}

	&:focus:not(&:disabled) {
		box-shadow: 0 0 0 1px var(--#{$prefix}textarea-outline-color);
	}

	&::placeholder {
		color: var(--#{$prefix}textarea-guide-font-color);
		font-size: var(--#{$prefix}textarea-font-size);
	}

	&__suffix {
		position: absolute;
		right: 12px;
		top: 12px;
	}
}
