.#{$prefix}btn {
	--#{$prefix}btn-cursor: #{map-get($btn-cursor-list, 'click')};
	--#{$prefix}btn-font-family: #{$btn-font-family};
	--#{$prefix}btn-font-weight: #{$btn-font-weight};
	--#{$prefix}btn-line-height: #{$btn-line-height};
	--#{$prefix}btn-border-width: #{$btn-border-width};
	--#{$prefix}btn-border-style: #{$btn-border-style};
	--#{$prefix}btn-box-shadow: #{$btn-box-shadow};
	--#{$prefix}btn-disabled-opacity: #{$btn-disabled-opacity};
	--#{$prefix}btn-transition: #{$btn-transition};

	@include flex-center();

	background-color: var(--#{$prefix}btn-bg);
	border: var(--#{$prefix}btn-border-width) var(--#{$prefix}btn-border-style)
		var(--#{$prefix}btn-border-color);
	border-radius: var(--#{$prefix}btn-border-radius);
	color: var(--#{$prefix}btn-color);
	cursor: var(--#{$prefix}btn-cursor);
	font-family: var(--#{$prefix}btn-font-family);
	font-size: var(--#{$prefix}btn-font-size);
	font-weight: var(--#{$prefix}btn-font-weight);
	line-height: var(--#{$prefix}btn-line-height);
	padding: var(--#{$prefix}btn-padding-y) var(--#{$prefix}btn-padding-x);
	transition: var(--#{$prefix}btn-transition);

	&:hover:not(.#{$prefix}btn--disabled):not(.#{$prefix}btn--loading) {
		background-color: var(--#{$prefix}btn-bg-hover);
	}

	&:active:not(.#{$prefix}btn--disabled):not(.#{$prefix}btn--loading) {
		background-color: var(--#{$prefix}btn-bg-active);
	}

	&--full-size {
		width: 100%;
	}

	&--disabled {
		--#{$prefix}btn-cursor: #{map-get($btn-cursor-list, 'disabled')};
	}

	&--loading {
		--#{$prefix}btn-cursor: #{map-get($btn-cursor-list, 'loading')};
	}

	&--disabled,
	&--loading {
		opacity: var(--#{$prefix}btn-disabled-opacity);
	}

	&--prefix {
		$size: 20px;
		height: $size;
		margin-right: 6px;

		position: relative;
		width: $size;
	}

	&--prefix-fullsize {
		left: 20px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}

@mixin button-theme($color, $bg-color, $bg-color-hover, $bg-color-active, $border-color) {
	--#{$prefix}btn-color: #{$color};
	--#{$prefix}btn-bg: #{$bg-color};
	--#{$prefix}btn-bg-hover: #{$bg-color-hover};
	--#{$prefix}btn-bg-active: #{$bg-color-active};
	--#{$prefix}btn-border-color: #{$border-color};
}

@each $theme, $value in $btn-theme {
	.#{$prefix}btn--type-#{$theme}-fill {
		@include button-theme(
			if($theme == 'gray', $gray-900, $white),
			$value,
			map-get($btn-theme-hover, $theme),
			map-get($btn-theme-active, $theme),
			$value
		);

		&:hover:not(.#{$prefix}btn--disabled):not(.#{$prefix}btn--loading) {
			border-color: var(--#{$prefix}btn-bg-hover);
		}

		&:active:not(.#{$prefix}btn--disabled):not(.#{$prefix}btn--loading) {
			border-color: var(--#{$prefix}btn-bg-active);
		}
	}

	.#{$prefix}btn--type-#{$theme}-outline {
		@include button-theme(
			$value,
			$white,
			map-get($btn-theme-outline-hover, $theme),
			map-get($btn-theme-outline-active, $theme),
			$value
		);
	}
}

@each $size, $value in $btn-font-size {
	.#{$prefix}btn--size-#{$size} {
		--#{$prefix}btn-font-size: #{$value};
		--#{$prefix}btn-padding-x: #{$btn-padding-x};
		--#{$prefix}btn-padding-y: #{$btn-padding-y};
		$btn-font-size: $value;
		$btn-padding-x: map-get($btn-paddings-x, $size);
		$btn-padding-y: map-get($btn-paddings-y, $size);
	}
}

@each $shape, $value in $btn-shape-list {
	.#{$prefix}btn--shape-#{$shape} {
		--#{$prefix}btn-border-radius: #{$value};
	}
}
