.#{$prefix}divider {
	border: 0;
	border-bottom-color: var(--#{$prefix}divider-color);
	border-bottom-style: solid;
	margin: 0;
	width: 100%;
}

@each $color, $value in $divider-themes {
	.#{$prefix}divider--color-#{$color} {
		--#{$prefix}divider-color: #{$value};
	}
}
