@import 'foundation/all';

.#{$prefix}spinner {
	--#{$prefix}spinner-width: var(--#{$prefix}spinner-width);
	--#{$prefix}spinner-height: var(--#{$prefix}spinner-height);
	--#{$prefix}spinner-color: var(--#{$prefix}spinner-color);
	--#{$prefix}spinner-vertical-align: #{$spinner-vertical-align};

	@include flex-center();
	@include fixed-center();

	> div {
		animation-iteration-count: infinite;

		animation-name: var(--#{$prefix}spinner-animation-name);
		animation-timing-function: linear;
		border: var(--#{$prefix}spinner-border-width) solid var(--#{$prefix}spinner-color); // currentcolor
		height: var(--#{$prefix}spinner-width);

		// 	animation: var(--#{$prefix}spinner-animation-speed) linear infinite
		// var(--#{$prefix}spinner-animation-name);

		vertical-align: var(--#{$prefix}spinner-vertical-align);
		width: var(--#{$prefix}spinner-width);
	}

	&--circle {
		--#{$prefix}spinner-animation-name: #{$spinner-animation-name};

		border-radius: 50%;
		border-right-color: transparent !important;
	}
}

@each $color, $value in $spinner-colors {
	.#{$prefix}spinner--color-#{$color} {
		--#{$prefix}spinner-color: #{$value};
	}
}

@each $size in $spinner-sizes {
	.#{$prefix}spinner--size-#{$size} {
		@if $size == 'sm' {
			--#{$prefix}spinner-width: #{$spinner-width-sm};
			--#{$prefix}spinner-height: #{$spinner-height-sm};
			--#{$prefix}spinner-border-width: #{$spinner-border-width-sm};
		} @else if $size == 'base' {
			--#{$prefix}spinner-width: #{$spinner-width-base};
			--#{$prefix}spinner-height: #{$spinner-height-base};
			--#{$prefix}spinner-border-width: #{$spinner-border-width-base};
		} @else if $size == 'lg' {
			--#{$prefix}spinner-width: #{$spinner-width-lg};
			--#{$prefix}spinner-height: #{$spinner-height-lg};
			--#{$prefix}spinner-border-width: #{$spinner-border-width-lg};
		}
	}
}

@keyframes spinner-circle {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
